{# Included per IP slug (public + optional private). Variable: caddy_vhost_urls #}
http://{{ caddy_vhost_urls.cm.hostname }}{% if deployment_portal_http_port | int != 80 %}:{{ deployment_portal_http_port }}{% endif %} {
{% if autotls_enabled | default(false) | bool %}
  reverse_proxy https://{{ deployment_portal_cm_fqdn }}:{{ cm_https_port }} {
    transport http {
      tls_insecure_skip_verify
    }
  }
{% else %}
  reverse_proxy http://{{ deployment_portal_cm_fqdn }}:{{ cm_http_port }}
{% endif %}
}

http://{{ caddy_vhost_urls.portal.hostname }}{% if deployment_portal_http_port | int != 80 %}:{{ deployment_portal_http_port }}{% endif %} {
  root * /srv
  try_files {path} /index.html
  file_server
}

http://{{ caddy_vhost_urls.pgadmin.hostname }}{% if deployment_portal_http_port | int != 80 %}:{{ deployment_portal_http_port }}{% endif %} {
  reverse_proxy {{ deployment_portal_pgadmin_container }}:80
}

{% if deployment_portal_has_ipa | default(false) | bool %}
{# FreeIPA UI via Caddy: cloudera-labs/openshift pattern (redir + HTTP upstream + Referer); see .cursor/LEARNINGS.md #}
http://{{ caddy_vhost_urls.ipa.hostname }}{% if deployment_portal_http_port | int != 80 %}:{{ deployment_portal_http_port }}{% endif %} {
  redir / /ipa/ui permanent
  reverse_proxy http://{{ deployment_portal_ipa_fqdn }} {
    header_up Host {{ deployment_portal_ipa_fqdn }}
    header_up Referer https://{{ deployment_portal_ipa_fqdn }}/ipa/ui
  }
}
{% endif %}

{% if deployment_portal_ecs_present | default(false) | bool %}
http://{{ caddy_vhost_urls.ecs.hostname }}{% if deployment_portal_http_port | int != 80 %}:{{ deployment_portal_http_port }}{% endif %} {
  reverse_proxy https://console.{{ ecs_app_domain }}:443 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}
{% endif %}

{% if monitoring_stack_enabled | default(false) | bool %}
http://{{ caddy_vhost_urls.grafana.hostname }}{% if deployment_portal_http_port | int != 80 %}:{{ deployment_portal_http_port }}{% endif %} {
  reverse_proxy {{ monitoring_grafana_container }}:3000
}

http://{{ caddy_vhost_urls.prometheus.hostname }}{% if deployment_portal_http_port | int != 80 %}:{{ deployment_portal_http_port }}{% endif %} {
  reverse_proxy {{ monitoring_prometheus_container }}:9090
}

http://{{ caddy_vhost_urls.alertmanager.hostname }}{% if deployment_portal_http_port | int != 80 %}:{{ deployment_portal_http_port }}{% endif %} {
  reverse_proxy {{ monitoring_alertmanager_container }}:9093
}
{% endif %}
