{# Remote parcel repository directory URLs for CSDs (REMOTE_PARCEL_REPO_URLS), not JAR download URLs.
   JAR get_url paths: templates/scm_csds_urls.j2 (24_start_cm.yml via scm_csds_effective). #}
{% set archive = cm_repo_public_base_url | default('https://archive.cloudera.com/p') %}
{% set svc = base_cluster_install_services | default({}) %}
{% set use_svc_toggles = cm_parcel_csd_respect_service_toggles | default(false) %}
{% set include_latest = cm_parcel_repo_include_latest | default(true) %}
{% set latest_segment = cm_parcel_repo_latest_segment | default('{latest}') %}
{% set csd_parcel_repo_urls = [] %}
{% if (cm_parcel_repo_include_cdv_parcel | default(true)) and csd_install_dataviz | default(true) and ((not use_svc_toggles) or (svc.dataviz | default(false))) %}
{% set csd_parcel_repo_urls = csd_parcel_repo_urls + [archive ~ '/cdv/' ~ cdv_version ~ '/parcels/'] %}
{% if include_latest %}
{% set csd_parcel_repo_urls = csd_parcel_repo_urls + [archive ~ '/cdv/' ~ latest_segment ~ '/parcels/'] %}
{% endif %}
{% endif %}
{% set cfm_enabled = (
  (cm_parcel_repo_include_cfm_parcel | default(true))
  and (
    (csd_install_nifi | default(true) and ((not use_svc_toggles) or (svc.nifi | default(false))))
    or (csd_install_nifi_registry | default(true) and ((not use_svc_toggles) or (svc.nifi_registry | default(false))))
  )
) %}
{% if cfm_enabled %}
{% set csd_parcel_repo_urls = csd_parcel_repo_urls + [archive ~ '/cfm2/' ~ cfm_version ~ '/parcels/'] %}
{% if include_latest %}
{% set csd_parcel_repo_urls = csd_parcel_repo_urls + [archive ~ '/cfm2/' ~ latest_segment ~ '/parcels/'] %}
{% endif %}
{% endif %}
{% for url in csd_parcel_repo_urls | unique %}
- {{ url }}
{% endfor %}
