##### Generated using ansible
NETWORKING=yes
NISDOMAIN={{ sysconfig_domain }}      	# cluster / identity DNS domain
DNS1={{ sysconfig_dns1 }}  	    	# identity DNS server (FreeIPA or AD KDC)
NOZEROCONF=yes
